{% include 'header.twig.html' %}
{% include 'modal.filtro.twig.html' %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h1>Quienes somos?</h1>
      <p>GadgetStore es un sitio web que ofrece al público una gama extensa de artículos informáticos de distintas marcas con la posibilidad de comprarlo directamente desde la web y recibirlo en la puerta de su hogar u oficina encualquier ciudad del país. El objetivo de GadgetStore es ofrecer al cliente un sitio en el que pueda obtener información detallada del producto, comprarlo desde su computador y recibirlo en puerta en un plazo menor a 24 horas para pedidos en Asunción y menor a 72 horas para los pedidos al interior. Ofrecemos precios competitivos, gracias a que contamos, con un eficaz departamento de compras, que se encarga de analizar los mejores precios en relación a marca, calidad y garantía. También contamos con personal capacitado en el área de soporte técnico  y pos venta, otorgando así seguridad, garantía calidad y satisfacción.</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <iframe src="https://mapsengine.google.com/map/embed?mid=zgKMvz2OQsK4.kbZJTAguc_-M" width="400" height="480">      
      </iframe>
    </div>
  </div>
{% include 'footer.twig.html' %}