<html>
<head>
  <meta charset="utf-8">
  <title>GadgetStore!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="image_src" type="image/png" href="{{path}}img/icon.png"/>
  <meta name="language" content="spanish">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.png"></link>
  <link href="{{path}}resources/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="{{path}}resources/bootstrap/css/slider.css" rel="stylesheet">
  <link href="{{path}}resources/bootstrap/css/extras.css" rel="stylesheet">
  <link rel="stylesheet" href="{{path}}resources/font-awesome/css/font-awesome.min.css">
  <style type="text/css">
   body {
      padding-top: 70px;
    }
  </style>   
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
  <script type="text/javascript" src="{{path}}resources/jsStorage.js"></script>
  <style type="text/css">
  </style>
</head>

<body>


    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <center>
            <a class="navbar-brand" href="{{path}}">Gadget Store</a>
          </center>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{path}}lista">Productos</a></li>
            <li><a href="{{path}}acerca">Acerca</a></li>
          </ul>
          {% if usuario %}
            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{path}}logout">Cerrar Sesion</a></li>
            </ul>

          {% endif %}
        </div>

       

      </div>
    </div>